#app3{

}
#app3 .square{
    border: 1px solid black;
    width: 10vh;
    height: 10vw;
    margin-top: 10vw;
    margin-left: 10vh;
    transition: transform 0.7s;
}
#app3 .square.active{
    transform: translateX(15vw);
}